
                                      <div class="product-type cur-type" ng-repeat="ta in result" id="type{{ta.id}}">
                                        <div class="product-pic" >
                                          <div ng-repeat="tn in ta.products" class="pos product_7_{{$index}}" >
                                            <div class="full" data-login="{{tn.index}}">
                                              <p class="icon">
                                                <img src="{{tn.image}}" alt="">
                                              </p>
                                              <h2>
                                                <a href="www.aa.com">{{tn.name}}</a>
                                              </h2>
                                              <h3>{{tn.summary}}</h3>
                                            </div>
                                          </div>
                                        </div>
                                      </div>